.container {
  display: flex;
  min-width: 1200px;
  gap: 220px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#btn {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 10px;
  margin-left: 30px;
}

.btnInfo {
  background-color: #00e600;

  &:hover {
    background-color: #39d539 !important;
  }
}

.img {
  border-radius: 50%;
  height: 200px;
}

.info {}

.link {
  text-decoration: underline;
  color: blue;
}