/*Background1*/

.image {
  background-image: url("../../images/backgrounds/background1/bg1.svg");
  margin-top: -100px;
  padding-top: 180px;
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center bottom;
  position: relative;
  z-index: 0;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1095px;
    background-image: url("../../images/backgrounds/background1/bg2.svg");
    background-position: left bottom;
    background-size: auto 94%;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.img {
  position: absolute;
  right: calc((100% - 1200px) / 2 + 14px);
  width: 177px;
  height: 177px;
  bottom: -70px;
}

/*Green button*/
.greenBtn {
  background-color: #1DCBB6;
  border-radius: 100px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
}

/*Blue button*/

.blueBtn {
  background-color: #007bff;
  border-radius: 100px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
}

/*Modal*/

.modal {
  max-width: 600px;
  max-height: auto;
  border-radius: 30px;
  background-color: white;
  margin: auto auto;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.action {
  &:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
}

/*Search*/

.searchBox {
  position: relative;
  width: calc(100% / 3.2);
}

.input {
  padding: 5px 20px;
  height: 50px;
  border-radius: 5px;
  opacity: 1;
  box-sizing: border-box;
  background-color: #dbdeff;
  border: none;
  position: relative;
  width: 100%;
}

.btnSearch {
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 18px 12px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  height: 100%;

  &:hover {
    box-shadow: 0 0 4px #2320D4;
  }
}

.icon {
  color: #2FC1A6;
  font-size: 17px;
  font-weight: 900;
}

/*Notification*/

.notification {
  position: relative;
}

.bell {
  font-size: 25px;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  height: 100%;

  &:hover {
    cursor: pointer;
  }
}

.bell:hover~.none {
  display: block;
}

.none {
  display: none;
}

.item {
  height: auto;
  width: 400px;
  position: absolute;
  background-color: #f0f0f0;
  z-index: 1000;
  right: -20px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  animation: animation ease-in 0.35s;
  transform-origin: calc(100% - 50px) top;

  &::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent #f0f0f0 transparent;
    position: absolute;
    top: -30px;
    right: 18px;
  }
}

@keyframes animation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.noNotification {
  position: relative;
  height: 200px;
}