.container {
  height: 52vw;
  margin-top: -275px;
  margin-left: 5vw;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  width: 34vw;
  position: absolute;
  top: 22vw;
  left: 0;
}

.icons {
  display: flex;
  gap: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 14px;
}