.containerParent {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  position: relative;
  z-index: 2;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  justify-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: white;
  border-bottom: 1px solid rgb(163, 163, 163);
}

.containerChildren {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  display: block;
  font-size: 14px;
  padding: 10px 10px;
  color: #111c63;
  transition: all .3s ease-in-out 0s;
  font-weight: bold;

  &:hover {
    background-color: #1DCBB6;
    color: white;
    border-radius: 100px;
    font-weight: bold;
  }
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 100px;
  padding: 10px 20px;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.leftButton {
  background-color: #1DCBB6;
}

.rightButton {
  background-color: #2320D4;
}

.translates {
  display: flex;
  gap: 10px;
}

.translate {
  display: flex;
  object-fit: contain;
  height: 1em;
  gap: 4px;
  padding: 5px 10px;
  border-radius: 100px;

  &:hover {
    background-color: red;
    cursor: pointer;
  }
}